* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header, footer {
    display: flex;
    background-color: midnightblue;
    align-items: center;
    flex-direction: row;
    color: navajowhite;
    height: 80px;
    width: 100%;
}

header {
    justify-content: space-evenly;
    box-shadow: 1px 3px 3px 1px lightgray;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 35px;
}

footer {
    justify-content: center;
}

main {
    flex-grow: 1;
    padding: 20px 0 20px 0;
}

main section:nth-child(2) {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.top { border-top: 3px solid midnightblue;}
.bottom { border-bottom: 3px solid midnightblue;}
.right { border-right: 3px solid midnightblue;}
.left { border-left: 3px solid midnightblue;}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    font-size: 65px;
    font-weight: 600;
    font-family: 'Crafty Girls', cursive;
}

#reset-btn {
    margin-top: 50px;
    border: 3px solid midnightblue;
    border-radius: 5px;
    outline: none;
    height: 35px;
    background-color: white;
    color: midnightblue;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    width: 24%;
    box-shadow: 2px 2px 2px 1px lightgray;
}

.square:hover {
    background-color: navajowhite;
}

#reset-btn:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

@media screen and (max-width: 500px) {
    body {
        margin: auto 0;
    }
    header {
        display: block;
        text-align: center;
    }
    h1{
        font-size: 30px;
        margin: 10px 0px 0px 0px;
    }
    h2 {
        font-size: 18px;
    }
    #gameboard {
        display: flex;
        flex-wrap: wrap;
        width: 360px;
    }
    .square {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 120px;
        font-size: 45px;
        font-weight: 600;
        font-family: 'Crafty Girls', cursive;
    }
    #reset-btn {
        font-size: 12px;
    }
}

